:root{
    --background-body: #F3F4F6;
    --background-btn-primary: #000000;
    --background-input-box: #FFFFFF;
    --background-input: #F5F5F5;
    --background-text: #F8F8F8;
}

body{
    background-color: var(--background-body);
    max-width: 1440px;
    margin: 20px auto;
    font-family: "Inria Bold", serif;
}


.footer{
    margin-top: 50px;
}

.nav__container{
    padding: 0;
    list-style: none;
    margin: 0;
}

.header,
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.nav--hidden{
    display: none;
}


.nav__link{
    text-decoration: none;
    color: inherit;
}

.header,
.container,
.footer{
    padding: 0 10px;
}

.quest{
    border: 2px dotted rgba(0,0,0,12.16%);
    padding: .5rem;
    margin: 10px 0;
}

.text{
    font-size: 18px;
    line-height: 1.2;
}

@media screen and (min-width: 660px){

    .logo {
        font-size: 1.1rem;
    }
    
    .footer{
        display: none;
    }
    
    .nav--hidden{
        display: block;
    }

    .nav__container{
        gap: 10px;
    }

    .nav__item{
        cursor: pointer;
    }
}
